.navcolor{
   background-color: rgb(73, 11, 11);
 
}
.home{
    background-color: rgba(73, 11, 11, 0.621);
}
.about{
    background-color: rgba(73, 11, 11, 0.621);
}
.Skill{
    background-color: rgba(73, 11, 11, 0.621);
}
.resume{
    border: 3px solid rgb(73, 11, 11);
    background-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 5px 10px 5px 10px;
}


.divfixing{
    display: flex;
    height: 80px;
    width: 300px;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    border: 2px solid black;
    background-color: rgba(73, 11, 11, 0.621);
}


.Project{
    background-color: rgba(73, 11, 11, 0.621);
}